
/* Misc */
body {
  color: #212123;
  padding: 5%;
  background-color: #00ae58;
}

.badgeSz {
  width: 5vh;
  height: 5vh;
}

.fa {
  padding-right: 2%;
  font-size: 18px;
  color: #777777;
}

.container-fluid {
  padding-top: 2%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Badge Directory Page */
.badgeDirectory {
  border-radius: 5px;
  margin: 1%;
  height: 100vh;
}

.completedDirectory {
  align-content: center;
  border-radius: 5px;
  margin: 1%;
}

.thumbnail {
	margin-bottom:7px;
  width: 6vw;
  height: 10vh;
}

/* Badge Tracker Page */
.sidebar {
  font-size: 12px;
}

.rating {
  font-size:11px;
}

.completedStyle {
  background-color: grey;
  opacity: .2;
}

.stepDescription {
  font-size: 11px;
  color: #212123;
}

.panel-heading {
  margin: 2%;
  align: center;
}

.badgeDiv {
  background-color: #eaf1f7;
  box-shadow: 2px 1px 1px #777777;
  margin: 2%;
  border-radius: 3px;
  padding: 2%;
}

.timeStamp {
  font-size: 8px;
  align: right;
}
.stepDiv {
  background-color: #eaf1f7;
  margin: 3%;
  border-radius: 3px;
  box-shadow: 2px 1px 1px #777777;
  padding: 2%;
}

.stepSupplies {
  font-size: 9px;
  padding: 1% 0 1% 1%;
}

.badgeName {
  display: inline-block;
}

.myTracker {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  margin: 2%;
}

.well{
  overflow: auto;
}

.well col-sm-6{
  overflow: auto;
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: 3px 2px 2px #777777;
  margin: 2% 2% 2% 1%;
}

.well col-sm-3 {
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: 3px 2px 2px #777777;
  margin: 2% 2% 2% 1%;
}

.well col-sm-4 {
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: 3px 2px 2px #777777;
  margin: 2% 2% 2% 1%;
}

.well col-sm-2 {
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: 3px 2px 2px #777777;
  margin: 2% 2% 2% 0;
}
