<h2>this is the leader dashboard page. here you can see a list of all scouts as well as a badge directory</h2>

<div ng-controller="leaderdashController">
  <div class="badgeDirectory">
    <tr>
      <th></th>
      <th>Badge Name</th>
      <th>Scout Level</th>
    </tr>
    <tbody ng-repeat="badge in badgeCollection">
      <tr>
        <td>
          <img src="{{badge.picture}}">
        </td>
        <td>
          <h5><b>{{badge.badge_name}}</b></h5>
        </td>
        <td>
          <h5>{{badge.scout_level}}</h5>
        </td>
      </tr>
    </tbody>
  </div>
  <div class="scoutDirectory">
    <tr>
      <th></th>
      <th>Scout Name</th>
      <th>Scout Activity</th>
    </tr>
    <tbody ng-repeat="scout in scoutCollection">
      <tr>
        <td>
          <img src="{{scout.picture}}">
        </td>
        <td>
          <h5><b>{{scout.given_name + scout.family_name}}</b></h5>
        </td>
        <td>
          <p>Here is where the activity bar will go</p>
        </td>
      </td>
    </tbody>
  </div>
  </div>
