<div class="myTracker">
  <div class="container-fluid">
    <div class="well col-sm-2">
      <p class="sidebar"><i class="fa fa-plus-square-o"></i><a ng-href="/#/routeParams.id/dashboard"> Add a Badge</a></p>
      <hr>
      <p class="sidebar"><i class="fa fa-check"></i><a ng-href="/#/routeParams.id/dashboard"> My Completed Badges</a></p>
      <hr>
      <h4>Key</h4>
      <hr>
      <p class="sidebar"><i class="fa fa-star"></i><b> Rating</b></p>
        <p class="sidebar2">1: This badge is estimated to take 1 hour to complete.</p>
        <p class="sidebar2">2: This badge is estimated to take 1-2 meetings to complete.</p>
        <p class="sidebar2">3: This badge is estimated to take a month to complete.</p>
      <hr>
      <p class="sidebar"><i class="fa fa-pencil-square"></i><b> Supplies</b></p>
        <p class="sidebar2">What do you need to complete this badge?</p>
      <hr>
      <!-- <p class="sidebar"><i class="fa fa-sticky-note-o"></i> Notes</p> -->
      <p class="sidebar"><i class="fa fa-check-square-o"></i><b> Complete</b></p>
        <button type="button" name="button" class="completeButton">Submit my Badge!</button>
    </div>
    <div class="well col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">My Current Badges</div>
          <span ng-repeat="badgies in badgeCollection">
            <div class="badgeDiv">
              <img src="{{badgies.badge_image}}" class="badgeSz">
              <h5 class="badgeName" ng-model="clickedBadge" ng-click="clickedBadge=true">{{badgies.badge_name}}</h5>
              <br>
              <div ng-show="clickedBadge">
                <!-- <i class="fa fa-bars" ng-click="badgeBacklog" ng-show="badgeBacklog=true"></i> -->
                <i class="fa fa-check-square-o"></i>
                <span class="timeStamp">Badge Started: {{badgies.created_at | date:'MM-dd-yyyy'}}</span>
              </div>
            </div>
          </span>
        </div>
    </div>
    <div class="well col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Badge Steps</div>
          <div ng-repeat="step in steps" class="stepDiv" ng-style="completedStyle">
            <span class="rating"><i>Rating:{{step.step_weight}}</i></span>
            <h5 class="stepDescription">{{step.step_description}}</h5>
            <i class="fa fa-pencil-square" ng-model="clickedSupplies" ng-click="clickedSupplies=true"></i>
            <i class="fa fa-sticky-note-o"></i>
            <i class="fa fa-check-square-o" ng-click="completedStyle={'background-color': '#BFC4C8'}"></i>
            <p class="stepSupplies" ng-show="clickedSupplies">Supplies: {{step.step_supplies}}</p>
          </div>
      </div>
    </div>
    <div class="well col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Backlog Badges</div>
          <p class="backlogCenter">No badges currently in backlog!</p>
          <div ng-repeat="backlog in badgeCollection" ng-show="badgeBacklog">
            <div class="badgeDiv">
              <img src="{{backlog.badge_image}}" class="badgeSz">
              <h5 class="badgeName" ng-model="clickedBadge" ng-show="clickedBadge">{{backlog.badge_name}}</h5>
              <br>
            </div>
        </div>
    </div>
  </div>
