<div class="myTracker">
  <div class="container-fluid">
    <div class="span2">
      <h5><a href="/:id/dashboard">+ Add a Badge</a></h5>
      <hr>
      <h5>Current</h5>
      <hr>
      <h5>Backlog</h5>
      <hr>
      <h5>Done</h5>
    </div>
    <div class="span5">
      <tr>
        <td><h5><img src="{{badgey.badge_image}}" class="badgeSz"></h5></td>
        <td><h5>{{badgey.badge_name}}</h5></td>
      </tr>
    </div>
    <div class="span5">
      <tr>
        <td><h5>{{step.step_description}}</h5></td>
    </div>
    <div class="span5">
      <p>backlog backlog backlog backlog backlog</p>
    </div>
  </div>
