<div class="myTracker">
  <div class="container-fluid">
    <div class="well col-sm-2">
      <p class="sidebar"><i class="fa fa-plus-square-o"></i><a href="/:id/dashboard"> Add a Badge</a></p>
      <hr>
      <p class="sidebar"><i class="fa fa-list"></i><a href="/"> Current</a></p>
      <hr>
      <p class="sidebar"><i class="fa fa-bars"></i><a href="/"> Backlog</a></p>
      <hr>
      <p class="sidebar"><i class="fa fa-check"></i><a href="/"> Done</a></p>
      <hr>
      <p class="sidebar"><i class="fa fa-line-chart"></i><a href="/"> Analytics</a></p>
      <hr>
      <h4>Key</h4>
      <p class="sidebar"><i class="fa fa-star"></i> Rating</p>
      <p class="sidebar"><i class="fa fa-pencil-square"></i> Supplies</p>
      <p class="sidebar"><i class="fa fa-sticky-note-o"></i> Notes</p>
      <p class="sidebar"><i class="fa fa-hourglass-start"></i> Start</p>
      <p class="sidebar"><i class="fa fa-check-square-o"></i> Complete</p>
    </div>
    <div class="well col-sm-3">
      <img src="{{badgey.badge_image}}" class="badgeSz">
      <h5 class="badgeName">{{badgey.badge_name}}</h5>
    </div>
    <div class="well col-sm-4">
      <!-- <table class="stepTable"> -->
        <div ng-repeat="step in steps">
          <h5>{{step.step_description}}</h5>
          <h5>{{step.step_supplies}}</h5>
          <h5>{{step.step_weight}}</h5>
        </div>
        <!-- </tr> -->
      <!-- </table> -->
    </div>
    <div class="well col-sm-2">
      <p>backlog backlog backlog backlog backlog</p>
    </div>
  </div>
