<h2>we're on the scout dashboard page</h2>
<div class="container-fluid">
  <div class="well col-sm-4">
    <table class="badgeDirectory">
      <tr>
        <th>Badge Picture</th>
        <th>Badge Name</th>
        <th>Scout Level</th>
        <th></th>
      </tr>
        <tr ng-repeat="badge in badgeCollection">
          <td><img src="{{badge.badge_image}}" class="badgeSz"></td>
          <td>
            <h5><a ng-href="/#/{{currentScout}}/dashboard/badges/{{badge.id}}"><b>{{badge.badge_name}}</b></a></h5>
          </td>
          <td>
            <h5>{{badge.scout_level}}</h5>
          </td>
          <td>
            <h5 ng-click="add(badge)"><a ng-href="/#/{{currentScout}}/dashboard/{{badge.id}}/tracker">Add to Tracker</a></h5>
        </tr>
    </table>
  </div>
  <div class="well col-sm-7">
    <div class="completedDirectory">
        <div ng-repeat="badge in badgeCollection">
          <div class="col-xs-3"><a ng-href="/#/{{currentScout}}/dashboard/badges/{{badge.id}}"><img src="{{badge.badge_image}}" class="thumbnail"></a></div>
        </div>
    </div>
  </div>
</div>
