<div class="container">
  <div class="well col-lg-6 col-lg-offset-3">
    <p class="welcome">Welcome to Scout Tracker!</p>
    <p class="welcome">Where Girl Scouts can track their badge completion progress!</p>
    <div class="welcomeDescription">
      <ul>
        <li>Search for badges based on your Scouting level</li>
        <li>Select badges and add them to your personal tracker</li>
        <li>Track your progress as you complete badge steps</li>
        <li>View all of your completed badges in one place!</li>
      </ul>
      <p class="text-center">Scouting Made Easy!</p>
    </div>
    <div class="loginInformation">
      <span>Ready to begin? Click below to enter the site!</span>
      <br>
      <div class="signUpForm">
        <!-- <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
          <span class="ion-social-googleplus"></span>Sign in with Google
        </button> -->
        <!-- <button class="btn btn-block"><a ng-href="/#/{{currentScout}}/dashboard">Sign in with Google</a></button> -->
      </div>
    </div>
  </div>
</div>
