<div class="container">
  <div class="well col-lg-6">
    <span class="welcome">Welcome to Scout Tracker. Where Girl Scouts can track their badge completion progress!</span>
    <div class="welcomeDescription">
      <ul>
        <li>Search for badges based on your Scouting level</li>
        <li>Select badges and add them to your personal tracker</li>
        <li>Track your progress as you complete badge steps</li>
        <li>View all of your completed badges in one place!</li>
      </ul>
      <span>Scouting Made Easy!</span>
    </div>
    <div class="loginInformation">
      <span>Ready to begin? Click below to log in with Google!</span>
      <br>
      <button type="button"><a href="/#/login">Log In with Google</a></button>
    </div>
  </div>
</div>
